<nav class="
    {% if page.title == "home" %} animation-retard {% endif %} 
    flex flex-wrap  mx-auto w-full max-w-2xl md:px-0 px-4 text-white text-lg mb-6 
    "
>
    <span class="text-green-500">fibonhack@templeos</span>
    <p>:</p>
    <span class="text-blue-400">~{% if page.title != "home" %}/{{page.short_name}}{% endif %}</span>
    <p>$</p>
    <form id="command_form" class="flex ml-1 relative">
        <input id="command" type="text" spellcheck="false" class="w-full bg-transparent focus:outline-0 border-none">
    </form>
</nav>

<footer class="
    {% if page.title == "home" %} animation-retard {% endif %} 
    text-white space-x-4 justify-end sw-full py-12 px-6 border-t border-dashed border-1 border-zinc-600 flex items-center
    "
>
    
    <a class="text-zinc-600 hover:text-zinc-100" href="{{site.social.github}}">
        {% include icons/github.html %}
    </a>

    <a class="text-zinc-600 hover:text-blue-400" href="{{site.social.twitter}}">
        {% include icons/twitter.html %}
        
    </a>

    <a class="saturate-0 contrast-[.75] brightness-[.75] hover:brightness-100 hover:contrast-100 hover:saturate-[.40]" href="{{site.social.ctftime}}">
        {% include icons/ctftime.html %}
    </a>
</footer>