<div>
    <nav class="w-full p-6 flex flex-col items-center justify-center my-3">

    <img class="w-2/5 md:w-1/4 lqip" data-src="/logo/transparent/800.png" src="/logo/transparent/100.png" alt="fibonhack"/>

    </nav>

    <nav class="md:py-6">
        <!-- whide screen navbar -->
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="hidden sm:block relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
              <div class="sm:ml-6">
                <div class="flex space-x-4">

                  {% for target in site.data.navigation %}
                    <a href={{ target.link }} class="hover:border-1 border-zinc-600 hover:border-dashed hover:border-b px-3 py-2 text-xl {%if page.title == target.name %} text-white font-black {% else %} text-zinc-300 font-medium {% endif %}" {% if page.title == target.name %} aria-current="page" {% endif %}>{{ target.name|capitalize }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- mobile navbar -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">

            {% for target in site.data.navigation %}
              <a href={{ target.link }}
                {% if page.title == target.name %} aria-current="page" {% endif %}
                class="border-b border-dashed border-1 border-zinc-600 text-white block px-3 py-2 text-lg {%if page.title == target.name %} text-white  font-black {% else %} text-zinc-300 font-medium {% endif %}"
              >
                {{ target.name|capitalize }}
              </a>
            {% endfor %}
          </div>
        </div>
    </nav>
    <nav class="flex flex-wrap mx-auto w-full container md:px-0 px-4 text-white text-lg">
        <span class="text-green-500">fibonhack@templeos</span>
        <p>:</p>
        <span class="text-blue-400">~{% if page.title != "home" %}/{{page.title}}{% endif %}</span>
        <p>$</p>
        <div class="ml-1 {% if page.title == "home" %} animate-typing {% endif %}">
            cat page.txt
        </div>
    </nav>

</div>
