body {
    border-top: 1px dashed rgba(255,255,255,0.5);
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    line-height: unset !important;
    color: rgba(255,255,255,0.9);
    text-align: center;
    background-color: #151515;
    /*width: 800px;*/
}

h1 {
  color: rgba(255,255,0,0.8);
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;
}
h2 { color: rgba(225,225,0,0.7); }
h3 { color: rgba(225,225,0,0.6); }
h4 { color: rgba(225,225,0,0.5); }
h5 { color: rgba(225,225,0,0.4); }
h6 { color: rgba(225,225,0,0.3); }

h1, h2, h3, h4, h5, h6, .glow-yellow {
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(255, 255, 0, 0.1), 0 0 5px rgba(255,255,83,0.1);
}

header {
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgba(225,225,0,0.9);
}
header p {
    text-align: left;
    margin: 0;
    /* color: rgba(225,225,0,0.7); */
    color: rgba(255,255,255,0.5);
}
a {
    text-decoration: none;
    color: rgba(225,225,0,0.8);
}
.menu {
    border-top: 1px dashed rgba(255,255,255,0.5);
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    margin-bottom: 10px;
}
.menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
}
.menu ul li {
    display: inline;
    margin-left: 5px;
}
.menu ul li a {
    text-decoration: none;
    color: rgba(225,225,0,0.8);
}
.menu ul li a:hover {
    padding: 2px;
    border-left: 1px dashed rgba(225,225,0,0.5);
    border-right: 1px dashed rgba(225,225,0,0.5);
}
main {
    text-align: left;
}
a:hover {
		color: #900c3f/*rgba(225,225,0,0.6)*/;
}
.navbar-active{
    color: #900c3f !important;
}
pre {
    background-color: rgba(255,255,255,0.05);
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:auto;
		font-family: monospace;
		font-size: 12px;
		color: rgba(255,255,255,0.4);
}
img {
    width: 80%;
    margin-left: 10%;
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

img.main-logo {
    width: 60%;
    border: transparent;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 0, 0.2));
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 0, 0.2));
    
}

footer {
    color: rgba(225,225,0,0.8);
    /*width: 60%;*/
    border-top: dashed 1px rgba(255,255,255,0.5);
    margin: 20px auto 15px;
    padding-top: 10px;
}

.icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    fill: currentColor;
}
.icon :hover {
    fill: rgba(225,225,0,0.6);
}

.left {
    float: left;
}

.right {
    float: right;
}



iframe {
    width: 750px;
    height: 400px;
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
		margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.feed-recomendation {
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Table style */
audio {
  width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px dashed rgba(255, 255, 255, 0.5);
}

caption {
    display: none;
}

table a {
    color: white;
}
/* End Table style */

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
.highlight { font-size: 14px;}

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #a0a0a0 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

code.highlighter-rouge { background-color: #2a2a2a; color: #c1364a;} /* bg color for inline code with single backticks*/
/* End Syntax highlighting styles */
/* no language highlighting */
.language-plaintext > .highlight code {
    color: #c1364a;
}
.language-plaintext > .highlight pre {
    background-color: #1a1a1a;
}
.comment {
    color: rgba(255,255,255,0.3);
}
.reserved {
    color: rgba(225,225,0,0.4);
}
.string {
    color: rgba(225,225,0,0.7);
}
.function {
    color: rgba(255,255,255,0.5);
}
.number {
    color: rgba(255,255,255,0.7);
}

blockquote {
  border-left: unset;
    margin: unset;
    font-size: 12px;
}
