@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "animation-style.css";
@import "syntax-highlight.css"; /* TODO: is this necessary? */


body{
	@apply !font-mono;
	@apply break-words;
}

*::-webkit-scrollbar {
	display: none;
}
  
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#MathJax_Message{
	display: none !important;
}
