/* change this to change colors */

:root {
	--primary: #eaeaea;
	--secondary: #7aa6da;
	--background: #2d333b;
	--lineno-background: #2d333b;
	--selected: #424242;
	--operator: #70c0b1;
	--keyword: #c397d8;
	--namespace: #e7c547;
	--comment: #969896;
	--scoped: #d54e53;
	--numeric: #e78c45;
	--string: #b9ca4a;
}

/* Theme */
/* ----------------------------------------------------------*/

code.highlighter-rouge{
	background-color: var(--background); 
	@apply rounded-lg; 
	@apply px-2;
	@apply py-1;
}

.highlighter-rouge .highlight{
	@apply rounded-xl; 
}

.highlighter-rouge:before,
.highlighter-rouge:after {
    content:"";
}

pre > code { 
	background-color: var(--background); 
}

html { -webkit-font-smoothing: antialiased; } /* only if background darker than font */

.highlight {
  background: var(--background);
  color: var(--primary);
}

.highlight > code { color: var(--secondary); }

.highlight .hll { background-color: var(--selected); }

.highlight .lineno {
  background-color: var(--lineno-background);
  color: var(--secondary);
}

/* --- Generics --- */
.highlight .ge { font-style: italic; } /* emph */
.highlight .gs { font-weight: bold; } /* strong */

/* --- Operators --- */
.highlight .o { color: var(--operator); } /* Operator */
.highlight .ow { color: var(--operator); } /* Word */

/* --- Comments --- */
.highlight .c { color: var(--comment); font-style: italic; } /* Comment */
.highlight .cm { color: var(--comment); font-style: italic; } /* Multi-line */
.highlight .cp { color: var(--comment); font-style: italic; } /* Preproc */
.highlight .c1 { color: var(--comment); font-style: italic; } /* Single */
.highlight .cs { color: var(--comment); font-style: italic; } /* Special */

/* --- Names --- */
.highlight .n { color: var(--primary); } /* Name */
.highlight .py { color: var(--primary); } /* Property */
.highlight .nl { color: var(--primary); } /* Label */
.highlight .ni { color: var(--primary); } /* Entity */
.highlight .nb { color: var(--primary); } /* Builtin */ /* shell commands */
.highlight .bp { color: var(--primary); } /* Builtin.Pseudo */
.highlight .nf { color: var(--secondary); } /* Function */
.highlight .na { color: var(--secondary); } /* Attribute */
.highlight .nx { color: var(--secondary); } /* Other */
.highlight .nc { color: var(--namespace); } /* Class */
.highlight .nn { color: var(--namespace); } /* Namespace */
.highlight .no { color: var(--scoped); } /* Constant */
.highlight .ne { color: var(--scoped); } /* Exception */
.highlight .nd { color: var(--operator); } /* Decorator */
.highlight .nt { color: var(--operator); } /* Tag */

/* --- Keywords --- */
.highlight .kn { color: var(--operator); } /* Namespace */
.highlight .k { color: var(--keyword); } /* Keyword */
.highlight .kc { color: var(--keyword); } /* Constant */
.highlight .kd { color: var(--keyword); } /* Declaration */
.highlight .kp { color: var(--keyword); } /* Pseudo */
.highlight .kr { color: var(--keyword); } /* Reserved */
.highlight .kt { color: var(--namespace); } /* Type */

/* --- Variables --- */
.highlight .nv { color: var(--scoped); } /* Variable */
.highlight .vc { color: var(--scoped); } /* Class */
.highlight .vg { color: var(--scoped); } /* Global */
.highlight .vi { color: var(--scoped); } /* Instance */

/* --- Numerals --- */
.highlight .m { color: var(--numeric); } /* Number */
.highlight .il { color: var(--numeric); } /* Long */
.highlight .mf { color: var(--numeric); } /* Float */
.highlight .mh { color: var(--numeric); } /* Hex */
.highlight .mi { color: var(--numeric); } /* Integer */
.highlight .mo { color: var(--numeric); } /* Oct */

/* --- Strings --- */
.highlight .s { color: var(--string); } /* String */
.highlight .sr { color: var(--string); } /* Regex */
.highlight .sb { color: var(--string); } /* Backtick */
.highlight .s2 { color: var(--string); } /* Double */
.highlight .sh { color: var(--string); } /* Heredoc */
.highlight .sx { color: var(--string); } /* Other */
.highlight .s1 { color: var(--string); } /* Single */
.highlight .ss { color: var(--string); } /* Symbol */
.highlight .se { color: var(--numeric); } /* Escape */
.highlight .si { color: var(--numeric); } /* Interpol */
.highlight .sc { color: var(--primary); } /* Char */
.highlight .sd { color: var(--comment); } /* Doc */

/* --- Other Literals --- */
.highlight .l { color: var(--numeric); } /* Literal */
.highlight .ld { color: var(--string); } /* Date */

/* --- Typographic Elements --- */
.highlight .p { color: var(--primary); } /* Punctuation */
.highlight .w { color: var(--primary); } /* Whitespace */ /* shouldn't this have a background-color instead ? */

/* --- Others --- */
.highlight .err { color: var(--scoped); } /* Error */
.highlight .gp { color: var(--namespace); } /* shell prompt */

/* --- Style --- */
.highlight .gi { color: var(--string); } /* inserted */
.highlight .gd { color: var(--scoped); } /* deleted */
.highlight .gh { color: var(--primary); font-weight: bold; } /* heading */
.highlight .gu { color: var(--operator); font-weight: bold; } /* subheading */
