---
layout: page
---

<div class="post">

  <header class="post-header" style="padding-bottom: 0.8em;">
    <p> {{ page.date | date: "%-d %b %Y" }} </p>
    <h1 style="margin: -0.02em auto;"> {{ page.title }} </h1>
    <div id="authors"> by
    {% assign authors = page.author | split: ", " %}
    {% for author in authors %}
      {% assign author_url = "/members/" | append: author %}
      {% assign realauthor = site.authors | where: 'short_name', author | first %}
        <a href="{{ author_url | absolute_url }}">{{ realauthor.full_name }}</a>{% if forloop.index != authors.size %}, {% endif %} 
      {% assign author_url = nil %}
      {% assign realauthor = nil %}
    {% endfor %}
    {% assign authors = nil %} 
    </div>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
</div>
