---
layout: page
---

<div class="post">

  <header class="post-header" style="padding-bottom: 0.8em;">
    <p> {{ page.date | date: "%-d %b %Y" }} </p>
    <h1 style="margin: -0.02em auto;"> {{ page.title }} - {{page.ctf_name}}{% if page.category %} - {{ page.category }}{% endif %}</h1>
    <div id="authors"> by
    {% assign authors = page.author | split: ", " %}
    {% for author in authors %}
      {% assign author_url = "/members/" | append: author %}
      <a href="{{ author_url }}">{{ author }}</a>{% if forloop.index != authors.size %}, {% endif %}
      {% assign author_url = nil %}
    {% endfor %}
    {% assign authors = nil %}
    </div>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
</div>
